# Ce fichier constitue un template pour tester les structuremap. Pour s'en servir, il faut :
# - dupliquer ce fichier dans le dossier /input/resources/structuremap-validation/local (inclus dans le .gitignore). Vous pouvez également mettre dans ce dossier des ressources de test qui n'auraient pas d'intéret pour les autres utilisateurs. 
# - Installer un client REST, par exemple [RESTClient (identifiant: humao.rest-client)](https://marketplace.visualstudio.com/items?itemName=humao.rest-client#:~:text=Once%20you%20prepared%20a%20request,press%20F1%20and%20then%20select%2F), cela permet d'envoyer des requêtes HTTP et d'avoir la réponse directement dans Visual Studio Code.
# - paramétrer un serveur FHIR (l11-12)
# - tester son bon fonctionnement et son parametrage (CapabilityStatement.implementation.description.value doit être à "Development mode") via l'exécution de la requête "I Verification serveur"
# - paramétrer le chemin de la map que vous voullez tester (l25-26) 
# - créer/mettre à jour la map en cours de rédaction sur le serveur fhir via l'exécution de la requête "II Creation/Mise à jour de la map"
# - paramétrer la map à utiliser (l29-30 - mettre l'id de la map à tester, (a priori celle créée précédement)) et le chemin de la ressource à transformer (l35-36)
# - exécuter la map sur la ressource via l'exécution de la requête "III Exécution de la map" et valider que l'output correspond à l'attendu. 

# Host example:
@host = http://localhost:8080/matchboxv3/fhir

### I Verification serveur : returns metadata configuration for server, verify that you have in implementation description "Development Mode" 
GET {{host}}/metadata HTTP/1.1
Accept: application/fhir+json;fhirVersion=4.0
Origin: http://localhost


### II Creation/Mise à jour de la map : create the resource on the server
POST {{host}}/StructureMap HTTP/1.1
Accept: application/fhir+json
Content-Type: text/fhir-mapping

# Path example:  
< ../../fml/usages/pediatrie/croissance-pediatrique/StructureMap-CroisPediaPhysical2Business.fml

### III Exécution de la map : transform the provided questionnaire response to patient resource with using mapUrl structuremap
# map id example
@mapID = CroisPediaBusiness2FHIRv2
POST {{host}}/StructureMap/$transform?source=https://aphp.fr/ig/fhir/eds/StructureMap/{{mapID}}
Accept: application/fhir+json
Content-Type: application/fhir+json

# Path example:  
< questionnaireResponse-CroisPediaBusiness2FHIRv2.json




### Verify created Questionnaire
GET {{host}}/Questionnaire/qrpatientsex
Accept: application/fhir+json;fhirVersion=4.0